In [1]:
import wrangle
import pandas as pd
import env

In [2]:
df = pd.read_csv("zillow.csv")

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (37,38,63,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = wrangle.clean_zillow(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64068 entries, 10711855 to 162960814
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   land_type            64068 non-null  float64
 1   has_heating_system   64068 non-null  int64
 2   bathrooms            64068 non-null  float64
 3   bedrooms             64068 non-null  float64
 4   quality              64068 non-null  float64
 5   square_feet          64068 non-null  float64
 6   fips                 64068 non-null  float64
 7   has_fireplace        64068 non-null  float64
 8   full_bathrooms       64068 non-null  float64
 9   latitude             64068 non-null  float64
 10  longitude            64068 non-null  float64
 11  lot_square_feet      64068 non-null  float64
 12  has_pool             64068 non-null  float64
 13  city                 64068 non-null  float64
 14  county               64068 non-null  float64
 15  zip_code             64068 non-null  float64
 16  room_count           64068 non-null  float64
 17  unitcnt              64068 non-null  int64
 18  yearbuilt            64068 non-null  float64
 19  structure_tax_value  64068 non-null  float64
 20  tax_value            64068 non-null  float64
 21  land_tax_value       64068 non-null  float64
 22  taxamount            64068 non-null  float64
 23  logerror             64068 non-null  float64
 24  in_los_angeles       64068 non-null  int64
 25  in_orange_county     64068 non-null  int64
 26  in_ventura           64068 non-null  int64
 27  house_age            64068 non-null  float64
 28  tax_rate             64068 non-null  float64
 29  level_of_log_error   64068 non-null  category
 30  acres                64068 non-null  float64
dtypes: category(1), float64(25), int64(5)
memory usage: 15.2 MB

In [5]:
df.sample()

,land_type,has_heating_system,bathrooms,bedrooms,quality,square_feet,fips,has_fireplace,full_bathrooms,latitude,...,land_tax_value,taxamount,logerror,in_los_angeles,in_orange_county,in_ventura,house_age,tax_rate,level_of_log_error,acres
parcelid,,,,,,,,,,,,,,,,,,,,,
12282097,261.0,1,1.0,3.0,4.0,1153.0,6037.0,0.0,1.0,33936433.0,...,28469.0,1284.43,-0.064041,1,0,0,73.0,48.888612,L1,0.171511

In [ ]:
df.info()