In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import wrangle

In [2]:
df = pd.read_csv("zillow.csv")

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (37,38,63,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df = wrangle.clean_zillow(df)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51207 entries, 10711855 to 162960814
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   land_type            51207 non-null  float64
 1   has_heating_system   51207 non-null  int64
 2   bathrooms            51207 non-null  float64
 3   bedrooms             51207 non-null  float64
 4   quality              51207 non-null  float64
 5   square_feet          51207 non-null  float64
 6   fips                 51207 non-null  float64
 7   has_fireplace        51207 non-null  float64
 8   full_bathrooms       51207 non-null  float64
 9   latitude             51207 non-null  float64
 10  longitude            51207 non-null  float64
 11  lot_square_feet      51207 non-null  float64
 12  has_pool             51207 non-null  float64
 13  city                 51207 non-null  float64
 14  county               51207 non-null  float64
 15  zip_code             51207 non-null  float64
 16  room_count           51207 non-null  float64
 17  unitcnt              51207 non-null  int64
 18  structure_tax_value  51207 non-null  float64
 19  tax_value            51207 non-null  float64
 20  land_tax_value       51207 non-null  float64
 21  taxamount            51207 non-null  float64
 22  logerror             51207 non-null  float64
 23  in_los_angeles       51207 non-null  int64
 24  in_orange_county     51207 non-null  int64
 25  in_ventura           51207 non-null  int64
 26  house_age            51207 non-null  float64
 27  tax_rate             51207 non-null  float64
 28  level_of_log_error   51207 non-null  category
 29  acres                51207 non-null  float64
 30  square_feet_bins     51207 non-null  int64
 31  lot_sqft_bins        51207 non-null  int64
 32  acre_bins            51207 non-null  int64
dtypes: category(1), float64(24), int64(8)
memory usage: 12.9 MB

In [5]:
train, validate, test = wrangle.split_zillow(df)

In [6]:
train.head()

,land_type,has_heating_system,bathrooms,bedrooms,quality,square_feet,fips,has_fireplace,full_bathrooms,latitude,...,in_los_angeles,in_orange_county,in_ventura,house_age,tax_rate,level_of_log_error,acres,square_feet_bins,lot_sqft_bins,acre_bins
parcelid,,,,,,,,,,,,,,,,,,,,,
11724867,261.0,1,1.0,4.0,6.0,1570.0,6037.0,0.0,1.0,34024543.0,...,1,0,0,80.0,81.480056,L5,0.151538,4,0,0
12128007,261.0,1,2.0,3.0,8.0,2306.0,6037.0,0.0,2.0,34174633.0,...,1,0,0,46.0,83.868458,L3,0.301354,5,1,0
10757399,261.0,1,3.0,4.0,7.0,2309.0,6037.0,0.0,3.0,34157048.0,...,1,0,0,61.0,77.918010,L3,0.219972,5,0,0
10911485,261.0,1,3.0,3.0,8.0,1912.0,6037.0,0.0,3.0,34145115.0,...,1,0,0,73.0,82.224030,L4,0.153329,4,0,0
13903643,261.0,0,3.0,4.0,6.0,2539.0,6059.0,0.0,3.0,33887720.0,...,0,1,0,16.0,73.929172,L2,0.104913,6,0,0