In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


import wrangle

In [3]:
df = pd.read_csv("clean_zillow.csv")

In [4]:
df.head()

,parcelid,land_type,has_heating_system,bathrooms,bedrooms,quality,square_feet,fips,has_fireplace,full_bathrooms,...,in_los_angeles,in_orange_county,in_ventura,house_age,tax_rate,level_of_log_error,acres,square_feet_bins,lot_sqft_bins,acre_bins
0,10711855,261.0,1,2.0,3.0,8.0,2107.0,6037.0,0.0,2.0,...,1,0,0,49.0,81.487096,L2,0.210239,5,0,0
1,10711877,261.0,1,2.0,4.0,8.0,1882.0,6037.0,0.0,2.0,...,1,0,0,49.0,81.241668,L4,0.207415,4,0,0
2,10711888,261.0,1,2.0,4.0,8.0,1882.0,6037.0,0.0,2.0,...,1,0,0,49.0,81.358231,L5,0.224977,4,0,0
3,10711910,261.0,1,2.0,3.0,8.0,1477.0,6037.0,0.0,2.0,...,1,0,0,61.0,69.891443,L1,0.259068,3,1,0
4,10711923,261.0,1,2.0,4.0,8.0,1918.0,6037.0,0.0,2.0,...,1,0,0,61.0,79.288338,L2,0.258012,4,1,0

In [ ]:
df.info()

In [ ]:
train, validate, test = wrangle.split_zillow(df)

In [ ]:
train.head()

In [ ]:
X_train, X_validate, X_test, y_train, y_validate, y_test = wrangle.split_train_validate_test(train, validate, test)

In [ ]:
X_train.head()

In [ ]:
train_scaled, validate_scaled, test_scaled = wrangle.scale_my_data(train, validate, test)

In [ ]:
train.head()

In [ ]:
df.info()

In [ ]:
sns.pairplot(data = train, hue = 'level_of_log_error', 
             x_vars = ['logerror', 'square_feet_bins', 'lot_sqft_bins', 'acre_bins', 
                       'bedrooms', 'bathrooms'],
             y_vars = ['logerror', 'has_fireplace', 'has_heating_system', 'latitude', 
                       'longitude', 'has_pool'], palette='viridis')