In [1]:
import env
import Liam_wrangle
import pandas as pd

In [2]:
df = pd.read_csv('Liam_zillow.csv')

/usr/local/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (38,39,64,68,69) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,0,0,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711855,...,6.037113e+13,-0.007357,2017-07-07,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
1,1,1,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711877,...,6.037113e+13,0.021066,2017-08-29,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
2,2,2,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711888,...,6.037113e+13,0.077174,2017-04-04,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
3,3,3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711910,...,6.037113e+13,-0.041238,2017-03-17,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,4,4,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711923,...,6.037113e+13,-0.009496,2017-03-24,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [4]:
df.shape

(72235, 70)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72235 entries, 0 to 72234
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    72235 non-null  int64
 1   Unnamed: 0.1                  72235 non-null  int64
 2   typeconstructiontypeid        222 non-null    float64
 3   storytypeid                   50 non-null     float64
 4   propertylandusetypeid         72235 non-null  float64
 5   heatingorsystemtypeid         46694 non-null  float64
 6   buildingclasstypeid           0 non-null      float64
 7   architecturalstyletypeid      206 non-null    float64
 8   airconditioningtypeid         23078 non-null  float64
 9   parcelid                      72235 non-null  int64
 10  id                            72235 non-null  int64
 11  basementsqft                  50 non-null     float64
 12  bathroomcnt                   72235 non-null  float64
 13  bedroomcnt                    72235 non-null  float64
 14  buildingqualitytypeid         45078 non-null  float64
 15  calculatedbathnbr             71982 non-null  float64
 16  decktypeid                    612 non-null    float64
 17  finishedfloor1squarefeet      6030 non-null   float64
 18  calculatedfinishedsquarefeet  72050 non-null  float64
 19  finishedsquarefeet12          71870 non-null  float64
 20  finishedsquarefeet13          2 non-null      float64
 21  finishedsquarefeet15          11 non-null     float64
 22  finishedsquarefeet50          6030 non-null   float64
 23  finishedsquarefeet6           167 non-null    float64
 24  fips                          72235 non-null  float64
 25  fireplacecnt                  8272 non-null   float64
 26  fullbathcnt                   71982 non-null  float64
 27  garagecarcnt                  25303 non-null  float64
 28  garagetotalsqft               25303 non-null  float64
 29  hashottuborspa                1538 non-null   float64
 30  latitude                      72235 non-null  float64
 31  longitude                     72235 non-null  float64
 32  lotsizesquarefeet             64072 non-null  float64
 33  poolcnt                       15759 non-null  float64
 34  poolsizesum                   869 non-null    float64
 35  pooltypeid10                  464 non-null    float64
 36  pooltypeid2                   1074 non-null   float64
 37  pooltypeid7                   14667 non-null  float64
 38  propertycountylandusecode     72235 non-null  object
 39  propertyzoningdesc            45524 non-null  object
 40  rawcensustractandblock        72235 non-null  float64
 41  regionidcity                  70899 non-null  float64
 42  regionidcounty                72235 non-null  float64
 43  regionidneighborhood          28291 non-null  float64
 44  regionidzip                   72191 non-null  float64
 45  roomcnt                       72235 non-null  float64
 46  threequarterbathnbr           10102 non-null  float64
 47  unitcnt                       45454 non-null  float64
 48  yardbuildingsqft17            2376 non-null   float64
 49  yardbuildingsqft26            70 non-null     float64
 50  yearbuilt                     72015 non-null  float64
 51  numberofstories               17379 non-null  float64
 52  fireplaceflag                 172 non-null    float64
 53  structuretaxvaluedollarcnt    72141 non-null  float64
 54  taxvaluedollarcnt             72234 non-null  float64
 55  assessmentyear                72235 non-null  float64
 56  landtaxvaluedollarcnt         72233 non-null  float64
 57  taxamount                     72230 non-null  float64
 58  taxdelinquencyflag            2618 non-null   object
 59  taxdelinquencyyear            2618 non-null   float64
 60  censustractandblock           72003 non-null  float64
 61  logerror                      72235 non-null  float64
 62  transactiondate               72235 non-null  object
 63  airconditioningdesc           23078 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  buildingclassdesc             0 non-null      float64
 66  heatingorsystemdesc           46694 non-null  object
 67  propertylandusedesc           72235 non-null  object
 68  storydesc                     50 non-null     object
 69  typeconstructiondesc          222 non-null    object
dtypes: float64(56), int64(4), object(10)
memory usage: 38.6+ MB

In [6]:
df = Liam_wrangle.clean_zillow(df)

In [7]:
df.head()

,Unnamed: 0,Unnamed: 0.1,land_type,has_heating_system,bathrooms,bedrooms,quality,square_feet,fips,has_fireplace,...,taxamount,logerror,propertylandusedesc,in_los_angeles,in_orange_county,in_ventura,house_age,tax_rate,level_of_log_error,acres
parcelid,,,,,,,,,,,,,,,,,,,,,
10711855,0,0,261.0,1,2.0,3.0,8.0,2107.0,6037.0,0.0,...,7659.36,-0.007357,Single Family Residential,1,0,0,49.0,81.487096,L2,0.210239
10711877,1,1,261.0,1,2.0,4.0,8.0,1882.0,6037.0,0.0,...,8123.91,0.021066,Single Family Residential,1,0,0,49.0,81.241668,L4,0.207415
10711888,2,2,261.0,1,2.0,4.0,8.0,1882.0,6037.0,0.0,...,6673.24,0.077174,Single Family Residential,1,0,0,49.0,81.358231,L5,0.224977
10711910,3,3,261.0,1,2.0,3.0,8.0,1477.0,6037.0,0.0,...,1116.46,-0.041238,Single Family Residential,1,0,0,61.0,69.891443,L1,0.259068
10711923,4,4,261.0,1,2.0,4.0,8.0,1918.0,6037.0,0.0,...,5239.85,-0.009496,Single Family Residential,1,0,0,61.0,79.288338,L2,0.258012

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64068 entries, 10711855 to 162960814
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           64068 non-null  int64
 1   Unnamed: 0.1         64068 non-null  int64
 2   land_type            64068 non-null  float64
 3   has_heating_system   64068 non-null  int64
 4   bathrooms            64068 non-null  float64
 5   bedrooms             64068 non-null  float64
 6   quality              64068 non-null  float64
 7   square_feet          64068 non-null  float64
 8   fips                 64068 non-null  float64
 9   has_fireplace        64068 non-null  float64
 10  full_bathrooms       64068 non-null  float64
 11  latitude             64068 non-null  float64
 12  longitude            64068 non-null  float64
 13  lot_square_feet      64068 non-null  float64
 14  has_pool             64068 non-null  float64
 15  city                 64068 non-null  float64
 16  county               64068 non-null  float64
 17  zip_code             64068 non-null  float64
 18  room_count           64068 non-null  float64
 19  unitcnt              64068 non-null  int64
 20  yearbuilt            64068 non-null  float64
 21  structure_tax_value  64068 non-null  float64
 22  tax_value            64068 non-null  float64
 23  land_tax_value       64068 non-null  float64
 24  taxamount            64068 non-null  float64
 25  logerror             64068 non-null  float64
 26  propertylandusedesc  64068 non-null  object
 27  in_los_angeles       64068 non-null  int64
 28  in_orange_county     64068 non-null  int64
 29  in_ventura           64068 non-null  int64
 30  house_age            64068 non-null  float64
 31  tax_rate             64068 non-null  float64
 32  level_of_log_error   64068 non-null  category
 33  acres                64068 non-null  float64
dtypes: category(1), float64(25), int64(7), object(1)
memory usage: 16.7+ MB

In [9]:
df = df.drop(columns= ['Unnamed: 0', 'Unnamed: 0.1', 'propertylandusedesc'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64068 entries, 10711855 to 162960814
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   land_type            64068 non-null  float64
 1   has_heating_system   64068 non-null  int64
 2   bathrooms            64068 non-null  float64
 3   bedrooms             64068 non-null  float64
 4   quality              64068 non-null  float64
 5   square_feet          64068 non-null  float64
 6   fips                 64068 non-null  float64
 7   has_fireplace        64068 non-null  float64
 8   full_bathrooms       64068 non-null  float64
 9   latitude             64068 non-null  float64
 10  longitude            64068 non-null  float64
 11  lot_square_feet      64068 non-null  float64
 12  has_pool             64068 non-null  float64
 13  city                 64068 non-null  float64
 14  county               64068 non-null  float64
 15  zip_code             64068 non-null  float64
 16  room_count           64068 non-null  float64
 17  unitcnt              64068 non-null  int64
 18  yearbuilt            64068 non-null  float64
 19  structure_tax_value  64068 non-null  float64
 20  tax_value            64068 non-null  float64
 21  land_tax_value       64068 non-null  float64
 22  taxamount            64068 non-null  float64
 23  logerror             64068 non-null  float64
 24  in_los_angeles       64068 non-null  int64
 25  in_orange_county     64068 non-null  int64
 26  in_ventura           64068 non-null  int64
 27  house_age            64068 non-null  float64
 28  tax_rate             64068 non-null  float64
 29  level_of_log_error   64068 non-null  category
 30  acres                64068 non-null  float64
dtypes: category(1), float64(25), int64(5)
memory usage: 15.2 MB

In [11]:
df.isnull().sum()

land_type              0
has_heating_system     0
bathrooms              0
bedrooms               0
quality                0
square_feet            0
fips                   0
has_fireplace          0
full_bathrooms         0
latitude               0
longitude              0
lot_square_feet        0
has_pool               0
city                   0
county                 0
zip_code               0
room_count             0
unitcnt                0
yearbuilt              0
structure_tax_value    0
tax_value              0
land_tax_value         0
taxamount              0
logerror               0
in_los_angeles         0
in_orange_county       0
in_ventura             0
house_age              0
tax_rate               0
level_of_log_error     0
acres                  0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64068 entries, 10711855 to 162960814
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   land_type            64068 non-null  float64
 1   has_heating_system   64068 non-null  int64
 2   bathrooms            64068 non-null  float64
 3   bedrooms             64068 non-null  float64
 4   quality              64068 non-null  float64
 5   square_feet          64068 non-null  float64
 6   fips                 64068 non-null  float64
 7   has_fireplace        64068 non-null  float64
 8   full_bathrooms       64068 non-null  float64
 9   latitude             64068 non-null  float64
 10  longitude            64068 non-null  float64
 11  lot_square_feet      64068 non-null  float64
 12  has_pool             64068 non-null  float64
 13  city                 64068 non-null  float64
 14  county               64068 non-null  float64
 15  zip_code             64068 non-null  float64
 16  room_count           64068 non-null  float64
 17  unitcnt              64068 non-null  int64
 18  yearbuilt            64068 non-null  float64
 19  structure_tax_value  64068 non-null  float64
 20  tax_value            64068 non-null  float64
 21  land_tax_value       64068 non-null  float64
 22  taxamount            64068 non-null  float64
 23  logerror             64068 non-null  float64
 24  in_los_angeles       64068 non-null  int64
 25  in_orange_county     64068 non-null  int64
 26  in_ventura           64068 non-null  int64
 27  house_age            64068 non-null  float64
 28  tax_rate             64068 non-null  float64
 29  level_of_log_error   64068 non-null  category
 30  acres                64068 non-null  float64
dtypes: category(1), float64(25), int64(5)
memory usage: 15.2 MB

In [13]:
def missing_zero_values_table(df):
        zero_val = (df == 0.00).astype(int).sum(axis=0)
        null_count = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mz_table = pd.concat([zero_val, null_count, mis_val_percent], axis=1)
        mz_table = mz_table.rename(
        columns = {0 : 'Zero Values', 1 : 'null_count', 2 : '% of Total Values'})
        mz_table['Total Zeroes + Null Values'] = mz_table['Zero Values'] + mz_table['null_count']
        mz_table['% Total Zero + Null Values'] = 100 * mz_table['Total Zeroes + Null Values'] / len(df)
        mz_table['Data Type'] = df.dtypes
        mz_table = mz_table[
            mz_table.iloc[:,1] >= 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns and " + str(df.shape[0]) + " Rows.\n"      
            "There are " +  str((mz_table['null_count'] != 0).sum()) +
          " columns that have NULL values.")
#         mz_table.to_excel('D:/sampledata/missing_and_zero_values.xlsx', freeze_panes=(1,0), index = False)
        return mz_table

In [15]:
mz_table = missing_zero_values_table(df)

Your selected dataframe has 31 columns and 64068 Rows.
There are 0 columns that have NULL values.

In [16]:
mz_table

,Zero Values,null_count,% of Total Values,Total Zeroes + Null Values,% Total Zero + Null Values,Data Type
land_type,0,0,0.0,0,0.0,float64
room_count,48749,0,0.0,48749,76.1,float64
level_of_log_error,0,0,0.0,0,0.0,category
tax_rate,0,0,0.0,0,0.0,float64
house_age,0,0,0.0,0,0.0,float64
in_ventura,58926,0,0.0,58926,92.0,int64
in_orange_county,49618,0,0.0,49618,77.4,int64
in_los_angeles,19592,0,0.0,19592,30.6,int64
logerror,0,0,0.0,0,0.0,float64
taxamount,0,0,0.0,0,0.0,float64
land_tax_value,0,0,0.0,0,0.0,float64
tax_value,0,0,0.0,0,0.0,float64
structure_tax_value,0,0,0.0,0,0.0,float64
yearbuilt,0,0,0.0,0,0.0,float64
unitcnt,0,0,0.0,0,0.0,int64
zip_code,0,0,0.0,0,0.0,float64
has_heating_system,19743,0,0.0,19743,30.8,int64
county,0,0,0.0,0,0.0,float64
city,0,0,0.0,0,0.0,float64
has_pool,56476,0,0.0,56476,88.2,float64
lot_square_feet,0,0,0.0,0,0.0,float64
longitude,0,0,0.0,0,0.0,float64
latitude,0,0,0.0,0,0.0,float64
full_bathrooms,0,0,0.0,0,0.0,float64
has_fireplace,56476,0,0.0,56476,88.2,float64
fips,0,0,0.0,0,0.0,float64
square_feet,0,0,0.0,0,0.0,float64
quality,0,0,0.0,0,0.0,float64
bedrooms,373,0,0.0,373,0.6,float64
bathrooms,157,0,0.0,157,0.2,float64
acres,0,0,0.0,0,0.0,float64

In [17]:
df.to_csv('zillow_final.csv')